body{
font-family: Arial;
background: linear-gradient(lightblue, #9dc3c9);
margin:0;
padding:20px;
}

.container{
max-width:400px;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

h1{
background:#1e63d5;
color:white;
padding:10px;
border-radius:5px;
text-align:center;
}

select{
width:100%;
padding:10px;
margin-top:15px;
}

.buttons{
margin-top:15px;
display:flex;
gap:10px;
}

button{
flex:1;
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:first-child{
background:green;
color:white;
}

button:last-child{
background:gold;
}

.card{
background:#1e63d5;
color:white;
padding:15px;
margin-top:15px;
border-radius:10px;
}