body{
font-family:Arial;
background:linear-gradient(#cde7ef,#8fb3bb);
margin:0;
padding:20px;
}

.app{
max-width:400px;
margin:auto;
}

.header{
background:#1e63d5;
color:white;
padding:20px;
border-radius:12px;
text-align:center;
}

select{
width:100%;
padding:10px;
margin-top:15px;
border-radius:5px;
border:none;
}

.buttons{
display:flex;
gap:10px;
margin-top:15px;
}

button{
flex:1;
padding:10px;
border:none;
border-radius:5px;
font-weight:bold;
cursor:pointer;
}

.save{
background:#2e8b57;
color:white;
}

.show{
background:#f1c40f;
}

.route-list{
background:white;
margin-top:20px;
border-radius:15px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.route{
display:flex;
justify-content:space-between;
padding:15px;
border-bottom:1px solid #ddd;
font-size:18px;
}

.route:last-child{
border-bottom:none;
}

.card{
background:#1e63d5;
color:white;
padding:20px;
border-radius:10px;
margin-top:20px;
}
